/* Настройка шрифтов */
@font-face {
  font-family: 'Heebo';
  src: url('Heebo-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  /* swap - правила отрисовки текста если не будет загружен этот шрифт   */
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('Heebo-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('Yantramanav-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Переменные для использования в проекте */
:root {
  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-light: #FFFFFF;
  --color-dark-gray: #404040;
  --color-light-gray: #C4C4C4;
  

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: 'Heebo', sans-serif;
  --font-family-accent: 'Yantramanav', sans-serif;

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.3s;

  --header-height: 90px;

}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  /* Вертикальное расстояние между строками */
  line-height: 1.75;
  color: var(--color-light-gray);
  background-color: var(--color-dark);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;  /* Центрируем контент по горизонтали */
  padding-inline: var(--container-padding-x);   /* Внутренние горизонтальные отступы */
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

a {
  color: var(--color-light-gray)
}

a:hover {
  color: var(--color-light)
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

button {
  /* Чтобы можно было примернить height */
  display: inline-flex;
  height:38px;
  align-items: center;
  padding-inline: 26px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

button:hover {
  background-color: var(--color-light-gray);
}


h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  text-transform: uppercase;
} 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-inline: 32px;
  background-color: var(--color-dark-alternate);
}

.header-logo {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap:50px;
}

.header-menu-link {
  display: inline-flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
  gap: 7px;
}

.header-menu-link.is-current::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
}

.header-actions {
  display: flex;
  gap: 40px;
}

.header-burger-button {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding-inline: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
  padding: 0;
  color: var(--color-light);
}

.header-burger-button:hover {
  border-color: var(--color-light-gray);
  background-color: transparent;
}

@media (max-width:1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
  }

  .header-menu {
    order: 1;
    flex-basis: 100%;
  }

  .header-menu-link {
    height: 46px;
  }
} 

@media (max-width:620px) {

  .header {
    padding-top: 10px;
    column-gap: 10px;
    padding-inline: 20px;
  }

  .header-menu-list {
    flex-direction: column;
    align-items: center;
    gap:20px;
    font-size: 16px;
  }

  .header-menu-link {
    height: 32px;
  }

  .header-actions {
    column-gap: 10px;
  }

  button {
    padding-inline: 12px;
  }
}